/* fonts style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

/*ssssssssssssssssssssssssssss
     header section start 
ssssssssssssssssssssssssssssss*/

/*--------------------
-----------------------
 upcoming html section 
 ----------------------
 ----------------------*/


.main-box {
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    flex-direction: column;
    padding: 52px 30px;
}

.flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contry-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* -----------------
---------------------
upcoming section end
--------------------
-------------------- */
header,
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 130px;
}

.player {
    display: flex;
    background-color: #161616;
    border-radius: 10px;
    width: 1200px;
    justify-content: flex-end;
    /* align-items: center; */
    padding-left: 40px;
}

.player-taitel {
    width: 50%;


}

.player-taitel h1 {
    font-weight: 700;
    color: white;
    font-size: 50px;
}

.player-taitel p {
    color: white;
}

.player-img {
    width: 50%;
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
}


.player-img img {
    width: 80%;
}

.pri-button {
    padding: 16px 25px;
    background-color: #DD0000;
    font-size: 20px;
    color: white;
    gap: 5px;
    border-radius: 5px;
    border: none;
}

/* --------------------
    main style start
------------------------*/
/* mod-section start */
.mod-section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 270px;
    background-color: #161616;

}

.mod-section ul {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mod-section #red-clr {
    background-color: #DD0000;
}

.mod-section li {
    list-style: none;
    padding: 17px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.mod-section li:hover {
    background-color: #DD0000;
}

.mod-section a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* match style start*/
.all-box {
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.match {
    width: 312px;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.match-benar img {
    width: 312px;
    height: 175px;
}

.icon-time {
    display: flex;

}

.match-taitel {
    padding: 10px;
}

.seq-button {
    padding: 4px 16px;
    border: 1px solid black;
    width: 80px;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

}

.evry-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* match style end */
/*(((((((((((((((((((((((((((
     footer section started
))))))))))))))))))))))))))))) */
.goal {
    background-color: black;

}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.goal h1 {
    padding: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.goal ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.goal a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.goal li {
    padding: 20px 30px;
}

.soceal-mideya {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    gap: 20px;
    padding: 40px;
}

@media only screen and (max-width:676px) {
    .player {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0%;
        width: 100%;
    }

    .player-taitel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .player-taitel h1 {
        font-size: 30px;
        text-align: center;
    }

    .player-taitel p {
        font-size: 15px;
        text-align: center;
    }

    .player-img {
        width: 100%;
        padding: 20px 0px 0px 20px;
    }

    .all-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .mod-section {
        background-color: white;

    }

    .mod-section li {
        box-shadow: 1px 1px 5px black;
    }

    .evry-match {
        grid-template-columns: repeat(1, 1fr);
    }

    .goal {
        padding: 0%;
        width: 100%;
    }

    .goal ul {
        flex-direction: column;
    }

    .goal li {
        padding: 10px;
    }

}

@media only screen and (min-width: 677px) and (max-width: 992px) {


    .player {
        justify-content: space-between;
        width: 100%;

    }

    .player-taitel {
        width: 80%;
    }

    .player-taitel h1 {
        font-size: 40px;
    }

    .player-taitel a {
        font-size: 15px;
    }

    .player-img {
        width: 100%;
        justify-content: flex-end;
    }

    .all-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .mod-section {
        background-color: white;
        justify-content: flex-end;
        height: auto;
    }

    .mod-section ul {

        flex-direction: row;
        padding: 0px;
        display: flex;
        justify-content: center;


    }

    .evry-match {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}